* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4 {
  font-family:$secondFont;
  color: #fff;
}
a {
  padding-left: 10px;
  text-decoration: none;
  color: grey;
}
li, p {
  font-family: $firstFont;
  color: #fff;
}
i {
  padding-left: 10px;
  padding-right: 10px;
}
.text_align_left {
  text-align: left;
}
.text_align_right {
  text-align: right;
}
// basic values
// specific css vaulues
// wrapper
.sections_wrapper {
  @include SectionsWrapper
}
// content wrapper
.content_wrapper_y {
  @include ContentSectionsWrapperY;
}
.content_wrapper_x {
  @include ContentSectionsWrapperX;
}
