// start first section
.first_section_bg {
  @include BackgroundImage;
  margin-top: 15px;
  height: 600px;
  background-image: url(../img/intro.jpg);
}
.upper_content {
  margin-top: 10px;
  margin-bottom: 50px;
  h2, p {
    font-size: 20px;
    line-height: 35px;
    @include PaddingMargin;
  }
  h2 {
    font-size: 30px;
  }
}
.lower_content {
  width: 100%;
  height: 100%;
  position: relative;
// image
  .external_laptop_image {
    @include InsideImage;
    @include BackgroundImage;
    background-size:contain;
    background-image: url(../img/intro-screen.png);
  }
// image
  .internal_laptop_image {
    width: 100%;
    height: 99%;
    transform: translateY(-100%);
    position: absolute;
    position: relative;
    @include BackgroundImage;
    background-size: contain;
    background-image: url(../img/intro-bg.jpg);
    // add icon
    .fa-play-circle {
      position: absolute;
      font-size: 80px;
      color: #fff;
      z-index: 0;
      top: 50%;
      left: 45%;
      &:hover {
        cursor:pointer;
      }
    }
  }
}
.book {
  width: 40px;
  padding-right: 10px;
  position: absolute;
  transform: translateX(-100%);
  cursor: pointer;
}
// end first section
// start second section
#h2, #p {
  color: #000;
  line-height: 25px;
}
// image
.bird_image {
  @include BackgroundImage;
  margin-top: 15px;
  margin-bottom: 50px;
  height: 600px;
  background-size: contain;
  background-image: url(../img/before-04.jpg);
}
.second_section_bg .lower_content {
  position: relative;
  .fa-arrow-circle-left, .fa-arrow-circle-right {
    color: orange;
    font-size: 30px;
    position: absolute;
    top: 0;
  }
  .fa-arrow-circle-left {
    left: 0;
    transform: translateY(1000%);
    &:hover {
      cursor:pointer;
    }
  }
  .fa-arrow-circle-right {
    right: 0;
    transform: translateY(1000%);
    &:hover {
      cursor:pointer;
    }
  }
}
// end second section
// first parallax
.first_parallax_bg {
@include BackgroundImage;
min-height: 600px;
width: 100%;
background-attachment: fixed;
background-image: url(../img/image-bg-02.jpg);
}
// end first parallax
// start third section
.third_section_bg {
  padding-top: 50px;
  background-color: $genericSectionBg;
  width: 100%;
  height: 2500px;
}
.post_production_image {
  @include InsideImage;
  background-repeat: no-repeat;
  background-image: url(../img/pillar-painting-tools.jpg);
}
.right_content_text {
  text-align: right;
  line-height: 30px;
  h2 {
    margin: 20px 0;
  }
}
.right_content_img {
  min-width: 600px;
  min-height: 450px;
  @include BackgroundImage;
  background-image: url(../img/pillar-canvas.jpg);
}
.left_content_text {
  text-align: left;
  line-height: 30px;
  h2 {
    margin: 20px 0;
  }
}
.left_content_img {
  min-width: 600px;
  min-height: 450px;
  margin-right: 60px;
  @include BackgroundImage;
  background-image: url(../img/pillar-brushes.jpg);
}
// ending third section
// parallax
.second_parallax_bg {
  @include BackgroundImage;
  min-height: 600px;
  width: 100%;
  background-attachment: fixed;
  background-image: url(../img/image-bg-01.jpg);
}
// ending parallax
// starting fourth section
.fourth_section_bg {
  width: 100%;
  height: 500px;
  background-color: #fff;
  h2 {
    font-size: 30px;
    color: #000;
    text-align: center;
    padding-top: 50px;
  }
}
.tools_list {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    position: relative;
    min-width: 300px;
    min-height: 300px;
    margin: 20px;
    background-color: #000;
    h4 {
      font-size: 20px;
      position: absolute;
      text-align: center;
      padding-left: 20px;
      bottom: 10%;
    }
    img {
      width: 100%;
      height: 100%;
    }
    &:hover {
      transition: 1.2s;
      transform: scale(1.1);
      opacity: 0.8;
      cursor:pointer;
    }
  }
}
// end section fourth
// starting section fifth
.fifth_section_bg {
  width: 100%;
  height: 600px;
  @include BackgroundImage;
  background-image: url(../img/brushpacks-bg.jpg);
}
.wrapper_bottom {
  @include SectionsWrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_content {
  margin: 0 50px;
  padding: 0 30px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(100% / 2);
  background-color: #fff;
  h4 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #000;
  }
  p {
    font-size: 20px;
    line-height: 25px;
    color: #000;
  }
  a {
    color: lightblue;
  }
}
// end section fifth;
