// start first section
.first_section_bg {
  @include BackgroundImage;
  margin-top: 15px;
  height: 600px;
  background-image: url(../img/intro.jpg);
}
.upper_content {
  margin-top: 10px;
  margin-bottom: 50px;
  h2, p {
    font-size: 20px;
    line-height: 35px;
    @include PaddingMargin;
  }
  h2 {
    font-size: 30px;
  }
}
.lower_content {
  width: 100%;
  height: 100%;
  position: relative;
// image
  .external_laptop_image {
    @include InsideImage;
    @include BackgroundImage;
    background-size:contain;
    background-image: url(../img/intro-screen.png);
  }
// image
  .internal_laptop_image {
    width: 100%;
    height: 99%;
    transform: translateY(-100%);
    position: absolute;
    position: relative;
    @include BackgroundImage;
    background-size: contain;
    background-image: url(../img/intro-bg.jpg);
    // add icon
    .fa-play-circle {
      position: absolute;
      font-size: 80px;
      color: #fff;
      z-index: 0;
      top: 50%;
      left: 45%;
      &:hover {
        cursor:pointer;
      }
    }
  }
}
.book {
  width: 40px;
  padding-right: 10px;
  position: absolute;
  transform: translateX(-100%);
  cursor: pointer;
}
// end first section
// start second section
#h2, #p {
  color: #000;
  line-height: 25px;
}
// image
.bird_image {
  @include BackgroundImage;
  margin-top: 15px;
  margin-bottom: 50px;
  height: 600px;
  background-size: contain;
  background-image: url(../img/before-04.jpg);
}
.second_section_bg .lower_content {
  position: relative;
  .fa-arrow-circle-left, .fa-arrow-circle-right {
    color: orange;
    font-size: 30px;
    position: absolute;
    top: 0;
  }
  .fa-arrow-circle-left {
    left: 0;
    transform: translateY(1000%);
  }
  .fa-arrow-circle-right {
    right: 0;
    transform: translateY(1000%);
  }
}
// end second section
// first parallax
.first_parallax_bg {
@include BackgroundImage;
min-height: 600px;
width: 100%;
background-attachment: fixed;
background-image: url(../img/image-bg-02.jpg);
}
// end first parallax
// start third section
.third_section_bg {
  padding-top: 50px;
  background-color: $genericSectionBg;
  width: 100%;
  height: 2500px;
}
.post_production_image {
  @include InsideImage;
  background-repeat: no-repeat;
  background-image: url(../img/pillar-painting-tools.jpg);
}
.right_content_text {
  text-align: right;
}
.right_content_img {
  @include InsideImage;
  @include BackgroundImage;
  background-image: url(../img/pillar-canvas.jpg);
}
.left_content_text {
  text-align: left;
}
.left_content_img {
  @include InsideImage;
  @include BackgroundImage;
  background-image: url(../img/pillar-brushes.jpg);
}
.second_parallax_bg {
  @include BackgroundImage;
  min-height: 600px;
  width: 100%;
  background-attachment: fixed;
  background-image: url(../img/image-bg-01.jpg);
}
