@mixin ListInlineBlock {
  display: inline-block;
  list-style: none;
  text-transform: capitalize;
}
@mixin ListBlock {
  display: block;
  list-style: none;
  text-transform: capitalize;
}
@mixin HeaderTop {
  min-width: 100%;
  background-color: $headerTopColor;
}
@mixin GenericWrapper {
  width: 80%;
  margin: auto;
}
@mixin PaddingMargin {
  padding-top: 20px;
  margin-top: 5px;
}
@mixin BackgroundImage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin SectionsWrapper {
  width: 60%;
  height: 100%;
  margin: auto;
  padding: 0;
  text-align: center;
}
@mixin ContentSectionsWrapperY {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@mixin ContentSectionsWrapperX {
  width: 100%;
  height: 100%;
  margin: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin InsideImage {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
}
