@mixin ListInlineBlock {
  display: inline-block;
  list-style: none;
  text-transform: capitalize;
}
@mixin ListBlock {
  display: block;
  list-style: none;
  text-transform: capitalize;
}
@mixin HeaderTop {
  width: 100%;
  background-color: #101010;
}
@mixin GenericWrapper {
  width: 80%;
  margin: auto;
}
@mixin PaddingMargin {
  padding-top: 10px;
  margin-bottom: 10px;
}
