@import "Partials/_variables.scss";
@import "Partials/_common.scss";
@import "Partials/_mixins.scss";
@import "Partials/_header.scss";
@import "Partials/_main.scss";
@import "Partials/_footer.scss";
// importing Partials
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: $FirstFont;
  color: $SecondColor;
}
a {
  padding-left: 10px;
  text-decoration: none;
  color: $FirstColor;
}
li, p, span {
  font-family: $SecondFont;
  color: $FirstColor;
}
i {
  padding-left: 10px;
  padding-right: 10px;
}
// basic values
// specific css value
// header
// header top
.primary_navbar {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  margin: 35px 70px;
   i {
    color: #009CFF;
  }
}
.header_top li {
  @include ListInlineBlock;
}
.primary_navbar button {
  text-transform: capitalize;
}
.primary_navbar a {
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}
.secondary_navbar {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
   & a:hover {
    background-color: #fff;
    color: #000;
  }
}
.header_top {
  @include HeaderTop;
  ul {
    height: calc(100% / 2);
  }
}
.wrapper {
  @include GenericWrapper;
}
// end header top
// jumbotron
.jumbotron_header {
  width: 100%;
  height: 400px;
  background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
// end jumbotron
// central header
// wrapper
.header_central_wrapper {
  width: 50%;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
// boxes
.informations_box li {
  @include ListBlock;
}
.informations_box h2, h4 {
  @include PaddingMargin;
}
.download_trial {
  padding-left: 30px;
  width: 200px;
  height: 50px;
  background-color: grey;
}
.payment_box {
  width: 45%;
  margin-top: 25px;
  height: calc(100% - 25px);
  background-color: #000;
}
